<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../recursos/css/miEstilo.css">
</head>
<body>

    <h1>Selector Descendente Combinado</h1>

    <div class="cuerpo">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae <span>cumque, ut aut architecto id placeat, ad labore, at quos <strong>dolores debitis</strong> ullam,</span> nostrum cupiditate officia dolorem enim molestias illo mollitia?</p>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing elit. Similique vel laboriosam sed aliquid <strong>magnam, at, id cupiditate veniam labore</strong> totam culpa magni, architecto laudantium</span> numquam, eligendi ad ullam. Dolore, officia.</p>
    </div>

</body>
</html>
