<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../recursos/css/miEstilo.css">
</head>
<body>

    <h1>Selector de Hermano Adyacente</h1>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro illum cum provident eveniet, quidem commodi libero ullam, quis facere. Iste tempora ratione mollitia ex cum quas fugit, deserunt quaerat eaque.</p>

        <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam at quibusdam fuga ab et voluptate, totam consequatur nihil id rerum vel, hic provident amet similique voluptatem incidunt maiores temporibus dolor.</label>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tempora praesentium earum non eum minus amet ea quisquam dolorem tenetur rem omnis at, inventore velit enim maxime corporis quo facilis?</p>

        <a href="">Link</a>

        <label for="">asdasdas</label>


    </div>

</body>
</html>
