<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../recursos/css/miEstilo.css">
</head>
<body>

    <h1>Selector de Hijo</h1>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing elit. Similique vel laboriosam sed aliquid <strong>magnam, at, id cupiditate veniam labore</strong> totam culpa magni, architecto laudantium</span> numquam, eligendi ad ullam. Dolore, officia.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit totam nobis laborum nisi, amet. Minima veritatis totam, consequatur unde id explicabo, error ipsam magni voluptates rem similique inventore labore ipsa?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit totam nobis laborum nisi, amet. <strong>Minima veritatis totam, consequatur unde id explicabo, error ipsam magni voluptates rem</strong> similique inventore labore ipsa?</p>
    </div>
    <div class="dos">
        <a href="">Google</a>
        <h2>Hola <strong>CSS</strong></h2>
        <p>Bunas Tarde</p>
    </div>

</body>
</html>
