<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../recursos/css/miEstilo.css">
</head>
<body>

    <h1>Selector Descendente</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span>Aliquid dolor autem cum reiciendis <strong>officia asperiores</strong> id accusantium ipsam.</span> Reprehenderit sed possimus iste optio accusamus laborum molestias consectetur, unde temporibus deserunt!</p>

</body>
</html>
