<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../recursos/css/miEstilo.css">
</head>
<body>

    <h1>Selector de Clase</h1>
    <p>Lorem ipsum dolor sit amet, consectetur <span class="parrafo1">adipisicing elit.</span> Quaerat hic ab ad assumenda optio? Quae illum asperiores reiciendis. <span class="parrafo2">Exercitationem doloribus quae provident eaque,</span> in officia impedit velit ullam. Voluptas, deserunt.</p>

</body>
</html>
